@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  padding-top: 60px;
  font-size: 100%;
  line-height: 1;
  color: #444;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
@media (max-width: 1000px) {
  html,
  body {
    padding-top: 40px;
  }
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  line-height: 0;
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

section {
  margin-bottom: 60px;
}

.title {
  margin-bottom: 50px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  color: #37517e;
  line-height: 36px;
}
.title::after {
  content: "";
  display: block;
  height: 2px;
  width: 80px;
  margin-top: 20px;
  margin: 20px auto 0;
  background: #dcdcdc;
}

#intro .intro-slider img, #category .item img {
  width: 100%;
  min-height: 100%;
  display: block;
  object-fit: cover;
}

#category .item, #category .item img, #single-category .container .change-category ul li i {
  transition: all 0.4s;
}

header {
  width: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  border-bottom: solid 1px #f5f5f5;
  z-index: 1007;
}
header .logo-desctop {
  display: flex;
  justify-content: center;
}
header .logo-desctop span {
  font-size: 28px;
  margin: 0 15px 0 0;
  padding: 6px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}
header .logo-desctop .desc {
  display: flex;
  align-items: center;
  padding: 0 15px;
  border-left: 1px solid #cecece;
}
@media (max-width: 768px) {
  header .logo-desctop .desc {
    display: none;
  }
}
header #desktop-topbar {
  border-bottom: solid 1px #f5f5f5;
}
header .contact-nav {
  margin-left: auto;
}
header .contact-nav i {
  margin-right: 5px;
}
@media (max-width: 1000px) {
  header .contact-nav i {
    font-size: 18px;
    margin-right: 0;
  }
}
header .contact-nav a {
  color: #37517e;
  margin-right: 20px;
}
header .contact-nav a:last-child {
  margin-right: 0px;
}
@media (max-width: 1000px) {
  header .contact-nav a:last-child {
    margin-right: 10px;
  }
}
@media (max-width: 1000px) {
  header .contact-nav span {
    display: none;
  }
}
header .topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}
header .topbar .navbar-toggler {
  padding: 3px 6px;
  margin: 0 0 0 8px;
  color: #444;
  border-radius: 5px;
  position: relative;
}
header .topbar .navbar-toggler i {
  width: 18px;
  font-size: 16px;
}
header .topbar .navbar-toggler:focus, header .topbar .navbar-toggler:active, header .topbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
header .topbar .navbar-toggler #nav-icon1,
header .topbar .navbar-toggler #nav-icon2,
header .topbar .navbar-toggler #nav-icon3,
header .topbar .navbar-toggler #nav-icon4 {
  width: 27px;
  height: 35px;
  position: relative;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header .topbar .navbar-toggler #nav-icon1 span,
header .topbar .navbar-toggler #nav-icon3 span,
header .topbar .navbar-toggler #nav-icon4 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #444;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
header .topbar .navbar-toggler #nav-icon3 span:nth-child(1) {
  top: 7px;
}
header .topbar .navbar-toggler #nav-icon3 span:nth-child(2),
header .topbar .navbar-toggler #nav-icon3 span:nth-child(3) {
  top: 15px;
}
header .topbar .navbar-toggler #nav-icon3 span:nth-child(4) {
  top: 23px;
}
header .topbar .navbar-toggler #nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
header .topbar .navbar-toggler #nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .topbar .navbar-toggler #nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
header .topbar .navbar-toggler #nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}
header .navbar {
  padding: 0;
}
@media (max-width: 1000px) {
  header .navbar {
    padding: 0 !important;
  }
}
header .navbar-nav li {
  padding: 7px 10px;
  margin-right: 25px;
}
header .navbar-nav li:first-child a {
  padding-left: 0 !important;
}
@media (max-width: 1000px) {
  header .navbar-nav li {
    padding: 12px 0px;
  }
}
header .navbar-nav .nav-item {
  position: relative;
  padding: 0;
}
header .navbar-nav .nav-item .nav-link {
  padding: 15px 0;
}
header .navbar-nav .active {
  border-bottom: 2px solid #37517e;
}

#intro .intro-slider {
  height: 400px;
  margin-bottom: 30px;
  border-radius: 7px;
}
#intro .intro-slider .swiper-button-next,
#intro .intro-slider .swiper-button-prev {
  color: #fff;
}
#intro .intro-slider .swiper-button-next::after {
  margin-left: -20px;
}
#intro .intro-slider .swiper-button-prev::after {
  margin-right: -20px;
}
@media (max-width: 768px) {
  #intro .intro-slider {
    height: 300px;
  }
}
@media (max-width: 480px) {
  #intro .intro-slider {
    height: 200px;
  }
}
#intro .intro-slider .slider-desc .content {
  width: 80%;
}
#intro .intro-slider .slider-desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  color: #fff;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
#intro .intro-slider .slider-desc h1 {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 15px;
}
#intro .intro-slider .slider-desc p {
  font-size: 20px;
}
@media (max-width: 480px) {
  #intro .intro-slider .slider-desc {
    height: 200px;
  }
  #intro .intro-slider .slider-desc h1 {
    font-size: 28px;
  }
  #intro .intro-slider .slider-desc p {
    font-size: 16px;
  }
}

#about {
  padding: 20px 0;
  color: #444;
  background-color: #f3f5fa;
}
#about .desc {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
}

#category .item {
  position: relative;
  max-width: 639px;
  height: 300px;
  padding: 0;
  overflow: hidden;
  margin: 10px auto;
  border-radius: 7px;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
}
#category .item:hover {
  transform: translate(0, -10px);
}
#category .item .title {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  text-shadow: 1px 1px 2px #444;
  transform: translate(-50%, -50%);
}
#category .item .title::after {
  display: none;
}

#clients {
  padding: 12px 0;
  text-align: center;
}
#clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  filter: grayscale(100);
}
#clients img:hover {
  filter: none;
  transform: scale(1.1);
}
@media (max-width: 768px) {
  #clients img {
    max-width: 40%;
  }
}

/* Services */
#benefits {
  background-color: #f3f5fa;
  padding: 50px 0 70px 0;
}
#benefits .icon-box {
  margin-bottom: 20px;
  box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
  padding: 50px 30px;
  transition: all ease-in-out 0.4s;
  background: #fff;
}
#benefits .icon-box i {
  color: #37517e;
  font-size: 36px;
  transition: 0.3s;
  vertical-align: middle;
}
#benefits .icon-box span {
  font-weight: 500;
  margin-bottom: 15px;
  margin-left: 25px;
  font-size: 24px;
  color: #37517e;
  transition: ease-in-out 0.3s;
  vertical-align: middle;
}
#benefits .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-top: 20px;
}
#benefits .icon-box:hover {
  transform: translateY(-10px);
}
#benefits .icon-box:hover h4 a {
  color: #537abd;
}

/* Footer */
#footer .footer-newsletter {
  padding: 50px 0;
  background: #f3f5fa;
  text-align: center;
  font-size: 15px;
  color: #444444;
}
#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  position: relative;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}
#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}
#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #37517e;
  color: #fff;
  transition: 0.3s;
  border-radius: 50px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#footer .footer-newsletter form input[type="submit"]:hover {
  background: #537abd;
}
#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}
#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}
#footer .footer-top .footer-contact span {
  font-size: 28px;
  margin: 0 0 10px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 600;
  color: #37517e;
}
#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}
#footer .footer-top .footer-contact a {
  color: #444;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #37517e;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 5px;
  color: #37517e;
  font-size: 15px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #537abd;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #37517e;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #207fd8;
  color: #fff;
  text-decoration: none;
}

#breadcrumbs {
  margin-bottom: 20px;
}
#breadcrumbs ul {
  text-decoration: none;
  list-style: none;
  position: relative;
  float: left;
  font-size: 14px;
  padding-left: 0 !important;
  margin-bottom: 0 !important;
}
@media (max-width: 1000px) {
  #breadcrumbs ul {
    font-size: 12px;
  }
}
#breadcrumbs ul li {
  margin-bottom: 10px;
  position: relative;
  float: left;
}
#breadcrumbs ul li a {
  color: #9b9b9b !important;
}
#breadcrumbs ul li a:hover {
  color: #37517e !important;
}
#breadcrumbs ul li::after {
  content: "/";
  color: #9b9b9b !important;
  padding: 0 15px;
}
#breadcrumbs ul li:last-child a {
  color: #424242 !important;
}
#breadcrumbs ul li:last-child::after {
  content: "";
}

#single-category .container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-gap: 16px;
}
@media (max-width: 1000px) {
  #single-category .container {
    grid-template-columns: 1fr;
  }
}
#single-category .container .change-category {
  grid-area: 1 / 1 / 2 / 2;
  background: #fff;
  color: #444;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.158);
  line-height: 18px;
}
@media (max-width: 1000px) {
  #single-category .container .change-category {
    grid-area: 1 / 1 / 2 / 2;
  }
}
#single-category .container .change-category ul {
  margin: 0;
  padding: 0;
}
#single-category .container .change-category ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #444;
  border-bottom: 1px solid #e3e5e9;
}
#single-category .container .change-category ul li:last-child {
  border-bottom: none;
}
#single-category .container .change-category ul li a {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 0 15px 15px;
  color: #444;
}
#single-category .container .change-category ul li i {
  margin: auto 0;
  margin-right: 17px;
}
#single-category .container .change-category ul li a:hover i {
  margin-right: 13px;
}
#single-category .container .images {
  grid-area: 2 / 1 / 3 / 2;
  padding: 10px;
}
#single-category .container .images img {
  margin-bottom: 15px;
  border-radius: 10px;
  max-width: 100%;
  object-fit: cover;
}
@media (max-width: 1000px) {
  #single-category .container .images {
    grid-area: 3 / 1 / 4 / 2;
  }
}
#single-category .container .desc {
  grid-area: 1 / 2 / 3 / 3;
  padding: 25px 0 25px 25px;
  line-height: 130%;
}
@media (max-width: 1000px) {
  #single-category .container .desc {
    grid-area: 2 / 1 / 3 / 2;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
}

.contact .info a {
  color: #1459a7;
}

.contact .info i {
  font-size: 20px;
  color: #1459a7;
  float: left;
  width: 44px;
  height: 44px;
  background: #e3f0fa;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #124265;
}

.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #1459a7;
}

.contact .info .email,
.contact .info .phone {
  margin-top: 40px;
}

.contact .info .email:hover i,
.contact .info .address:hover i,
.contact .info .phone:hover i {
  background: #1459a7;
  color: #fff;
}

.contact .php-email-form {
  width: 100%;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #114987;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading {
  display: none;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #0f427d;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 25px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #2487ce;
}

.contact .php-email-form input {
  height: 44px;
}

.contact .php-email-form textarea {
  padding: 10px 12px;
}

.contact .php-email-form button[type="submit"] {
  background: #1459a7;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  margin-bottom: 5px;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #1459a7;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
