.swiper {
}
.reviews-swiper {
}
.swiper-wrapper {
}
.swiper-slide {
	transition: all 0.3s ease-in;
}

.swiper-pagination {
	bottom: -40px !important;
	.swiper-pagination-bullet{
		width: 24px !important;
		height: 2px !important;
		background-color: var(--text-color);
		border-radius: 0 !important;
		margin: 0 6px !important;
		transition: all 0.3s ease-in;
	}
}
.swiper-button-prev {
	&::after{
		color: var(--text-color);
		opacity: 0.7;
		transition: all 0.3s ease-in;
	}
}
.swiper-button-next {
	&::after{
		color: var(--text-color);
		opacity: 0.7;
		transition: all 0.3s ease-in;
	}
}
