
/* Стандартные блоки */

// Категории


.category {
	padding: 12px 0;
	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap:16px;
	@media (max-width:1200px) {
		grid-template-columns: repeat(2, 1fr);
	}
	
	}

	h2{
		margin-bottom: 40px;
	}

	&__item {
		position: relative;
		display: flex;
		align-items: center;
		border-radius: 6px;
		overflow: hidden;
		padding: 16px;
		background-color: var(--background-block);
		// -webkit-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.35);
		// -moz-box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.35);
		// box-shadow: 1px 2px 6px 1px rgba(0, 0, 0, 0.35);
		&:hover{
			background-color: var(--background-color-v2);
		}
	}

	&__title {
		font-size: 18px;
		line-height: 130%;
		font-weight: 500;
		font-family: var(--font-family);
		color: var(--text-color);
		margin-right: auto;
		@media (max-width:991px) {
			font-size: 14px;
			max-width: 120px;
		}
	}

	&__desc {
		max-width: 300px;
		font-size: 16px;
		line-height: 130%;
		font-weight: 500;
		font-family: var(--font-family);
		color: var(--text-color);
		margin-bottom: 48px;
	}

	&__image {
		
		width:60px;
		height: 60px;
		margin-right: 16px;
		border-radius: 6px;
		flex-shrink: 0;
		overflow: hidden;
		@media (max-width:1200px) {
			display: none;
		}
		img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.2s ease-in;
		}
	}
	&__btn{	
		border-radius: 6px;
		padding: 12px 16px;
		font-size: 14px;
		line-height: 130%;
		font-weight: 500;
		font-family: var(--font-family);
		color: var(--text-color);
		border: 1px solid var(--border-color);
		transition: all 0.3s ease-in;
	}	
}

.example-work {

&__grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 32px;
}



&__item {
	overflow: hidden;
	border-radius: 16px;
}
}


.example-work {

	&__grid {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
		@media (max-width:991px) {
			grid-template-columns: repeat(1, 1fr);
		}
	}



	&__item {
		overflow: hidden;
		border-radius: 16px;
		max-height: 400px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}
	}

	&__number{
		position: absolute;
		bottom:0;
		right: 0;
		padding: 22px;
		border-radius: 22px 0 0 0;
		background-color: var(--white);
		font-size: 24px;
		line-height: 130%;
		font-weight: 500;
		font-family: var(--font-family-bold);
		color: var(--text-color-v2);
	}
}
.products {

&__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
	@media (max-width:991px) {
		grid-template-columns: repeat(1, 1fr);
	}
}



&__item {
	overflow: hidden;
	border-radius: 16px;
	img{
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: all 0.2s ease-in;
		}
}
}


/* Преимущества */

.advantages {

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap:45px;
		@media (max-width:991px) {
			grid-template-columns: repeat(1, 1fr);
			gap: 20px;
		}
	}

	&__item {
		overflow: hidden;
		position: relative;
		padding: 32px;
		background-color: var(--background-block);
		z-index: 1;
		border-radius: 12px;
		transition: all 0.3s ease-in;
		cursor: default;

		&.up{
			transform: translate(0, -30px);
			@media (max-width:991px) {
				transform: translate(0, 0);
			}
		}
		
		img{
			position: absolute;
			top: 0;
			right: 0;
			transform: rotate(45deg);
			font-size: 254px;
			z-index: -1;
			color: var(--text-color);
			opacity: 0.1;
			transition: all 0.3s ease-in;
		}
	}

	&__title {
		font-size: 22px;
		line-height: 150%;
		font-weight: 700;
		font-family: var(--font-family);
		margin-bottom: 48px;
		transition: all 0.3s ease-in;
		span{
			color: var(--link-active);
		}
	}

	&__desc {
		color: var(--text-color);
		font-family: var(--font-family);
		font-size: 16px;
		line-height: 1.5;
		transition: all 0.3s ease-in;
		span{
			color: var(--link-active-dark);
		}
	}
}

/* Услуги */

.services {
	

	&__content{
		display: flex;
		align-items: center;
		gap: 32px;
	}

	&__image{
		width: calc(30% - 16px);
		overflow: hidden;
		border-radius: 30px;
		img{
			width: 100%;
		}
		@media (max-width:991px) {
			display: none;
		}
	}

	&__left{
		width: calc(70% - 16px);
		max-width: 800px;
		@media (max-width:991px) {
			width: 100%;
		}
	}

	&__list {
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
		border-radius: 30px;
		background-color: var(--background-block);
		@media (max-width:991px) {
			width: 100%;
		}
	}

	&__see-more{
		margin-top: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		a{	
			display: block;
			background-color: var(--link-active);
			padding: 12px 18px;
			color: var(--text-color);
			border-radius: 30px;
			font-family: var(--font-family);
			font-size: 14px;
			border-radius: 20px;
			background-color: transparent;
			border: 1px solid var(--text-color);
			transition: all 0.3s ease-in;
			&:hover{
				color: var(--text-color-v2);
				background-color: var(--text-color);
			}
			img{
				width: 14px;
				
			}
		}
	}

	&__service {
		border-bottom: 1px solid var(--stroke-color);
		padding: 16px 32px;
		display: flex;
		align-items: center;
		justify-content:space-between;
		&:last-child{
			border-bottom: none;
		}
	}

	&__info {
		display: flex;
		flex-direction: column;
		padding-right: 24px;
	}

	&__title {
		font-family: 'Rubik-bold';
		font-size: 18px;
		line-height: 1.5;
		color: var(--text-color);
		transition: all 0.3s ease-in;
		margin-bottom: 8px;
	}

	&__label {
		font-family: var(--font-family);
		font-size: 16px;
		line-height: 1.5;
		color: var(--text-color);
		opacity: 0.5;
		transition: all 0.3s ease-in;
	}

	&__price {
		margin-left: auto;
		margin-right: 24px;
		font-family: 'Rubik-bold';
		font-size: 18px;
		line-height: 1.5;
		color: var(--text-color);
		transition: all 0.3s ease-in;
	}

	&__order {
		a{
			border-radius:30px;
		}
		
	}

}


/* Отзывы */


.review {
	padding: 32px;
	background-color: var(--background-block);
	transition: all 0.3s ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	&__wrapper{
		width: 100%;
		max-width: 500px;
		font-family: var(--font-family);
		font-size: 18px;
		line-height: 1.5;
		color: var(--text-color);
		text-align: center;
	}
	&__btn{
		border-radius: 6px;
			padding: 12px 16px;
			font-size: 14px;
			line-height: 130%;
			font-weight: 500;
			font-family: var(--font-family);
			color: var(--text-color);
			border: 1px solid var(--border-color);
			transition: all 0.3s ease-in;
			margin-top: 32px;
	}

	
}




// Контакты

.contact {
	&__wrapper{
		display: flex;
		justify-content: space-between;
		width: 100%;
		gap: 48px;
		@media (max-width:991px) {
			flex-wrap: wrap;
		}
	}
    &__item {
		margin-bottom: 12px;
	}

    &__item-title {
		font-size: 20px;
		line-height: 130%;
		font-weight: 500;
		font-family: var(--font-family);
		margin-bottom: 18px;
		margin-top: 28px;
	}

    &__left {    
		display: inline-block;
		width: 100%;
		height: 100%;
		max-width: 30%;
		margin-bottom: 32px;
		border-radius: 16px;
		padding: 32px 48px;
		background-color: var(--background-block);
		@media (max-width:991px) {
			max-width: 100%;
		}
		svg{
			width: 32px;
			height: 32px;
			margin-right: 8px;
		}
		h2{
			margin-bottom: 16px;
		}
	}

    &__right {
		width: 100%;
		max-width: 70%;
		border-radius: 12px;
		overflow: hidden;
		@media (max-width:991px) {
			max-width: 100%;
		}
	}
}

