@import "reset.scss";
@import "_default.scss";
@import "_slider.scss";
@import "_header.scss";
@import "_footer.scss";
@import "_text-style.scss";
@import "_product.scss";
@import "_templates.scss";

img{
	border-radius: 6px;
}

/* Заглушка */

.plug {
	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 150px 0;
		img {
			@media (max-width: 991px) {
				height: 80px;
			}
		}
		@media (max-width: 991px) {
			padding: 60px 0;
		}
	}
}

/* Галерея (в доработке)*/

#lg-zoom-in,
#lg-zoom-out,
#lg-actual-size {
	background-color: transparent;
	border: none;
	outline: none;
}

/* Страница не найдена */
.notfound {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 500px;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		padding: 0 20px;
	}
}



/* Вспомогательные классы */

.border{
	border: solid 1px var(--stroke-color);
}



.color-default{
	color: var(--text-color);
	&.hover{
		color: var(--text-color);
	}
}

